/* Reset margin and padding for the body and html */
body, html {
    margin: 0;
    padding: 0;
}

/* Header styles */
.header {
    color: #d04e37;
    font-weight: bolder;
    font-size: x-large;
    display: flex;
    justify-content: center; /* Centers the text horizontally */
    align-items: center; /* Centers the text vertically */
    height: auto; /* Adjust the height as needed */
    margin-top: 15%;
    
}
.img{
    width:10%; 
    height: 10%;
    align-items:center;
}

.navbar {
    background-color:#fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    z-index: 1000;
}
.navbar a {
    text-decoration: none;
    color: #0662be; /* Wave White */
    font-weight: bold;
    font-size: 1rem;
    padding: 10px 15px;
    transition: color 0.3s ease, transform 0.2s ease;
}

.navbar a:hover {
    color: #FFD166; /* Sand Yellow */
    transform: scale(1.1);
}

.descriptioncover{
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
    padding:20px;
    display: inline-block;
    text-align: center;
    padding:20px;
    max-width:40%;
    background-color:#fff;
    margin-left: 28%;
    margin-top:10%;
    opacity: 0; /* Make it invisible */
    transform: translateY(50px); /* Position it slightly below */
    transition: opacity 0.5s ease, transform 0.5s ease; 
    margin-bottom: 5%;
}
.descriptioncover.visible {
    opacity: 1;
    transform: translateY(0); /* Bring it to its original position */
}
